/* banner styles */
.banner {
  position: relative;
  background-image: url(/src/img/bg.mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 75% top;
  padding: 40px 24px;
  min-height: 256px;
}

.banner > div {
  max-width: 520px;
  margin: 0;
}

.banner h1 {
  font-size: var(--label---x-l);
  margin: 0 0 28px 0;
}

.banner p {
  font-size: var(--pragraph---medium);
  margin: 0 0 28px 0;
}

.banner a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  background: var(--black);
  font-size: var(--label---medium);
  color: var(--white);
  white-space: nowrap;
}

.banner .icon-download {
  width: 24px;
  height: 24px;
}

/* 태블릿 */
@media (min-width: 768px) {
  .banner {
    background-image: url(/src/img/bg.tablet.png);
    background-size: cover;
    background-position: 85% center;
    min-height: 280px;
    padding: 48px 24px;
  }
}

/* 데스트탑 */
@media (min-width: 1024px) {
  .banner {
    background-image: url(/src/img/bg.desktop.png);
    min-height: 360px;
    padding: 64px 24px;
    background-size: cover;
    background-position: 85% center;
  }

  .banner > div {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .banner {
    min-height: 420px;
    padding: 80px 24px;
  }
}
